<div style="z-index: 720;" class="simple-tips">
                        	<h2>Dicas para novos usuários</h2>
                        	<ul>
                        		<li>1. Para acessar os recursos do site utilize o menu ao lado</li>
                        		<li>2. Para editar as configurações do seu site, vá ao menu superior e então clique em "Configurações"</li>
                        		<li>3. Para editar as seu perfil, vá ao menu superior e então clique em "Meu Perfil"</li>
                        	</ul>
                            <a original-title="Fechar" href="#" class="close tips">fechar</a>
                        </div>