							
							<!-- erros de validação -->
                            <script type="text/javascript" charset="utf-8" src="js/form-validate/faq.js"></script>
                            <h2 class="error" style="display:none;"></h2>
							
							
							<!-- START SIMPLE FORM -->
                        	<div class="simplebox grid740">
                        	
                            	<div class="titleh">
                                	<h3>{$formTitle|default:"Utilize o formulário abaixo:"}</h3>
                                </div>
                                <div class="body">
                                                                
                                  <form id="form2" name="form2" method="post" action="?c={$smarty.get.c}" enctype="multipart/form-data">
                                  
                                  	<div class="st-form-line">	
                                    	<span class="st-labeltext">Pergunta:</span>	
                                        <input name="question" class="required" type="text" id="question" style="width:510px" value="{$FAQQuestion|default:""}" /> 
                                    <div class="clear"></div>
                                    </div>
                                    
                                    <div class="st-form-line">	
                                    	<span class="st-labeltext">Resposta:</span>	
                                        <input name="answer" class="required" type="text" id="answer" style="width:510px" value="{$FAQAnswer|default:""}" /> 
                                    <div class="clear"></div>
                                    </div>
                                                                        
                                    <div class="button-box">
                                   	  <input type="hidden" name="idFAQ" value="{$idFAQ|default:0}" />
                                   	  <input type="submit" name="save" id="button" value="Salvar" class="st-button"/>
                                   	  <input type="button" name="button" id="button2" value="Cancelar" class="st-clear cancel-form"/>
                                    </div>
                                    
                                  </form>
                                  
                                </div>
                            </div>
                        <!-- END SIMPLE FORM -->